{{ with .Site.GetPage "/resources" }}
<div class="section" id="{{ .Title | urlize }}">
    <!-- Begin Projects container -->
    <div class="container">
        <h2 class="title is-2 has-text-centered">
            {{ .Title | markdownify }}
        </h2>
        <div class="section">
            <div class="columns is-multiline">
                {{ $totalProjects := (len .Pages) }}
                {{ $numberOfProjectsToShow :=  default $totalProjects }}
                {{ range $index := .Pages.ByWeight | first $numberOfProjectsToShow }}
                    {{ $width := "490x" }}
                    {{ $columWidth := "is-half" }}
                    <div class="column {{ $columWidth }}">
                        <a href="{{ .Params.link }}" download>
                            <div class="card" data-target="#project-{{ $index }}">
                                {{ if .Resources.ByType "image" }}
                                <div class="card-image">
                                    <figure class="image is-3by2">
                                            {{ with .Resources.ByType "image" }}
                                            {{ range first 1 (sort . "Params.weight") }}
                                            {{ $image := .Resize $width }}
                                            <img class="card-thumbnail" src="{{ $image.Permalink }}" alt ="{{ $image.Name }}">
                                            {{ end }}
                                            {{ end }}
                                    </figure>
                                </div>
                                {{ end }}
                                <div class="card-content has-text-centered top-pad">
                                    <h3>{{ .Params.title | markdownify }} </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        <div class="container"><hr></div>
    </div>
</div>
{{ end }}
